<Context>
<Resource name="jdbc/yhtSaleSystem"
          auth="Container"
          type="javax.sql.DataSource"
          username="root"
          password="root"
          driverClassName="com.mysql.cj.jdbc.Driver"
          url="jdbc:mysql://localhost:3306/yhtSaleSystem?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;serverTimezone=UTC"
          maxActive="15"
          maxIdle="3"/>
</Context>